.pequenos{
    text-align: center;
    display: flex;
    justify-content: space-between;
    border-radius: 60px;
    border:5x rgb(0, 0, 0)
}


body{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
   
}

   
    

    
 a{
    color: rgb(255,255,255);
    text-decoration: none;
    

}

.center{
    text-align: center;
    width: 100%;
    height: auto;
    
    
    
}

.centro{
   text-align: center;
  height: 50%; width: 100%;
}
p{text-align: left;

}

h1{
text-align: center;
} 
